/* Palette Styling */

.palette {
  display: inline-block;
  width: 400px;
  height: 400px;
}

/* Main Container Boxes Styling */

.first {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin:0;
  vertical-align:top;
  background-color: grey;
}

.second {
  display: inline-block;
  width: 150px;
  height: 250px;
  margin:0;
  vertical-align:top;
  background-color: silver;
}

.third {
  display: inline-block;
  width: 250px;
  height: 150px;
  margin:0;
  vertical-align:top;
  background-color: silver;
}

.fourth {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin:0;
  vertical-align:top;
  background-color: grey;
}

/* Boxes in Main Container Boxes Styling */

.first #one, .first #two, .first #three, .first #four {
  width: 60px;
  height: 60px;
  background-color: black;
  position: relative;
}

.second #one, .second #two, .second #three, .second #four {
  width: 35px;
  height: 35px;
  background-color: black;
  position: relative;
}

.third #one, .third #two, .third #three, .third #four {
  width: 35px;
  height: 35px;
  background-color: black;
  position: relative;
}

.fourth #one, .fourth #two, .fourth #three, .fourth #four {
  width: 35px;
  height: 35px;
  background-color: black;
  position: relative;
}

/* Individual Box Postioning */

.first #one {
  left: 80px;
  top: 10px;
}

.first #two {
  left: 150px;
  top: -50px;
}

.first #three {
  left: 10px;
  top: -40px;
}

.first #four {
  left: 10px;
  top: -30px;
}

.second #one {
  left: 105px;
  top: 10px;
}

.second #two {
  left: 105px;
  top: 20px;
}

.second #three {
  left: 105px;
  top: 30px;
}

.second #four {
  left: 105px;
  top: 40px;
}

.third #one {
  left: 10px;
  top: 105px;
}

.third #two {
  left: 55px;
  top: 70px;
}

.third #three {
  left: 100px;
  top: 35px;
}

.third #four {
  left: 145px;
  top: 0px;
}

.fourth #one {
  left: 105px;
  top: 15px;
}

.fourth #two {
  left: 105px;
  top: 25px;
}

.fourth #three {
  left: 15px;
  top: 35px;
}

.fourth #four {
  left: 60px;
  top: 0px;
}
